{%extends "template.html"%}
{%block extra%}
<h3>Add a hero</h3>
 <div class='forms'>
  <form method='POST' action=''>
   {{alterego.hidden_tag()}}
   {{alterego.submit}}<br>
  </form>
  <form method='POST' action=''>
   <p>{{hero.hidden_tag()}}	
   	Publisher = {{hero.publisher}}<br>
 	Name = {{hero.name}}<br>
 	Alterego = {{hero.alterego}}<br>
 	First Power = {{hero.p1}}<br>
 	Second Power = {{hero.p2}}<br>
 	Third Power = {{hero.p3}}<br>
 	Team = {{hero.team}}<br>
 	Sidekick = {{hero.sidekick}}<br>
 	Nemesis = {{hero.nemesis}}<br>
 	{{hero.submit}}
   </p> 
  </form>
 </div>
{%endblock%}