{%extends "template.html"%}
{%block extra%}
 <div class='forms'>
 	<form method='POST' action=''>
	  Alter Ego = {{alterego.alterego}} {{alterego.submit}}<br>
	 </form>
  <form method='POST' action=''>
   <p>{{hero.hidden_tag()}}<br>
   	Publisher = {{hero.publisher}}<br>
 	Name = {{hero.name}}<br>
 	First Power = {{hero.p1}}<br>
 	Second Power = {{hero.p2}}<br>
 	Third Power = {{hero.p3}}<br>
 	Team = {{hero.team}}<br>
 	Sidekick = {{hero.sidekick}}<br>
 	Nemesis = {{hero.nemesis}}<br>
 	{{hero.submit}}
   </p> 
  </form>
 </div>
{%endblock%}
<!-- commented out --> 