{%extends "template.html"%}
{%block extra%}
<h3>{{title}}</h3>
 <div class='forms'>
  <form method='POST' action=''>
   <p>{{delete.hidden_tag()}}<br>
  	Publisher = {{data.publisher}}<br>
 	Name = {{data.name}}<br>
	Alter Ego = {{data.alterego}}<br>
 	First Power = {{data.p1}}<br>
 	Second Power = {{data.p2}}<br>
 	Third Power = {{data.p3}}<br>
 	Team = {{data.team}}<br>
 	Sidekick = {{data.sidekick}}<br>
 	Nemesis = {{data.nemesis}}<br>
   	Are you sure you want to delete this hero?<br>
   	{{delete.confirm}} <a href="{{url_for ('home')}}"><button>No</button></a>
   </p>
  </form>
 </div>
{%endblock%}