{%extends "template.html"%}
{%block extra%}
 <h3>Register for an account</h3>
 <p>Need an account? Too bad</p>
  <div class='form'>
   <form method='POST' action=''>
    {{form.hidden_tag()}}
     <div class='form_group'>
      {{form.username.label}}
      {{form.username}}
       {%if form.username.errors%}
        <div class='error'>
         {%for error in form.username.errors%}
          <span>{{error}}</span>
         {%endfor%}
        </div>
       {%endif%}<br>
      {{form.password.label}}
      {{form.password}}<br>
      {{form.passwordagain.label}}
      {{form.passwordagain}}<br>
      </div>
     <div class='form_group'>
    {{form.submit}}
   </div>
  </form>
 </div>
{%endblock%}