{%extends template.html%}
{%block extra%}
 <h1>Register for an account</h1>
 <p>Need an account? Too bad</p>
  <div class='form'>
   <form method='POST' action=''>
    {{form.hidden_tag()}}
     <div class='form_group'>
      {{form.username.label}}
      {{form.username }}
       {%if form.username.errors%}
        <div class='error'>
         {%for error in form.username.errors%}
          <span>{{error}}</span>
         {%endfor%}
        </div>
       {%endif%}
      </div>
      <br>
     <div class='form_group'>
    {{form.submit}}
   </div>
  </form>
 </div>
{%endblock%}