{%extends "template.html"%}
{%block extra%}
<h3>Search for a hero</h3>
 <p>
  <a href="{{url_for ('all')}}"><button>Show all heroes</button></a><br>
  <a href="{{url_for ('publisher')}}"><button>Search by publisher</button></a><br>
  <a href="{{url_for ('name')}}"><button>Search by name</button></a><br>
  <a href="{{url_for ('alterego')}}"><button>Search by alterego</button></a><br>
  <a href="{{url_for ('power')}}"><button>Search by power</button></a><br>
  <a href="{{url_for ('team')}}"><button>Search by team</button></a><br>
  <a href="{{url_for ('sidekick')}}"><button>Search by sidekick</button></a><br>
  <a href="{{url_for ('nemesis')}}"><button>Search by nemesis</button></a>
 </p>
{%endblock%}