{%extends "template.html"%}
{%block extra%}
 <div class='forms'>
  <form method='POST' action=''>
   <table width="100%" border="3px solid black" border-spacing="5px">
  	<thead>
  	 <tr>
  	  <th>Publisher</th>
  	  <th>Name</th>
  	  <th>Alter Ego</th>
  	  <th>First Power</th>
  	  <th>Second Power</th>
   	  <th>Third Power</th>
   	  <th>Team</th>
   	  <th>Sidekick</th>
   	  <th>Nemesis</th>
   	 </tr>
   	</thead>
   	<tbody>
   	  <tr>
   	   <td>{{superherodata.publisher}}</td>
	     <td>{{superherodata.name}}</td>
	     <td>{{superherodata.alterego}}</td>
	     <td>{{p1id.power}}</td>
	     <td>{{p2id.power}}</td>
	     <td>{{p3id.power}}</td>
	     <td>{{superherodata.team}}</td>
	     <td>{{superherodata.sidekick}}</td>
	     <td>{{superherodata.nemesis}}</td>
	    </tr>
	   {%endfor%}
	  </tbody>
   </table>
  </form>
 </div>
{%endblock%}