{%extends "template.html"%}
{%block extra%}
 <div class='forms'>
  <form method='POST' action=''>
   <table width="100%" border="3px solid black" border-spacing="5px">
  	<thead>
  	 <tr>
  	  <th>Publisher</th>
  	  <th>Name</th>
  	  <th>Alter Ego</th>
  	  <th>First Power</th>
  	  <th>Second Power</th>
   	  <th>Third Power</th>
   	  <th>Team</th>
   	  <th>Sidekick</th>
   	  <th>Nemesis</th>
   	 </tr>
   	</thead>
   	<tbody>
   	 {%for x in superherodata%}
   	  <tr>
   	   <td>{{x.publisher}}</td>
	   <td>{{x.name}}</td>
	   <td>{{x.alterego}}</td>
	   <td>{{x.p1}}</td>
	   <td>{{x.p2}}</td>
	   <td>{{x.p3}}</td>
	   <td>{{x.team}}</td>
	   <td>{{x.sidekick}}</td>
	   <td>{{x.nemesis}}</td>
	  </tr>
	 {%endfor%}
	  <tr>
	   {%for x in powerdata%}
	    <td>{{x.power}}</td>
	   {%endfor%}
	  </tr>
	</tbody>
   </table>
  </form>
 </div>
{%endblock%}